{% extends 'base.html.twig' %}


{% block titlepage %}New Omra {% endblock %}

{% block content %}
   <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Ajout nouveau Omra</h3>
      <a class="btn btn-dark" style="width:150px" href="{{ path('app_omra_index') }}"> <i class="icon-reply"></i>Liste des Omras</a>

                           </div>
                            <br />
   	<div class="card">
							
							<div class="card-body">


    {{ include('omra/_form.html.twig') }}


   
{% endblock %}