{% extends 'base.html.twig' %}


{% block titlepage %}Nouveau VoyageOrganiser {% endblock %}

{% block content %}
   <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Ajout nouveau VoyageOrganiser</h3>
      <a class="btn btn-dark" style="width:200px" href="{{ path('app_voyage_organiser_index') }}"> <i class="icon-reply"></i>Liste des VoyageOrganisers</a>

                           </div>
                            <br />
   	<div class="card">
							
							<div class="card-body">


    {{ include('voyage_organiser/_form.html.twig') }}


   
{% endblock %}