{% extends 'base.html.twig' %}


{% block titlepage %}Nouveau Randonnée {% endblock %}

{% block content %}
   <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Ajout nouveau Randonnée</h3>
      <a class="btn btn-dark" style="width:170px" href="{{ path('app_rondonnee_index') }}"> <i class="icon-reply"></i>Liste des Randonnées</a>

                           </div>
                            <br />
   	<div class="card">
							
							<div class="card-body">


    {{ include('rondonnee/_form.html.twig') }}


   
{% endblock %}