{% extends 'base.html.twig' %}

{% block titlepage %}Edit User{% endblock %}

{% block content %}
  <div class="content">

   <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Modifier {{pay.nom}}</h3>
						<div class="header-elements">
							 <a class="btn btn-dark" style="width:160px" href="{{ path('app_pays_index') }}"><i class="icon-reply"></i>Liste des pays </a>
	                	</div>
					</div>
					<br />
   	<div class="card">
							
							<div class="card-body">
    {{ include('pays/_form.html.twig', {'button_label': 'Modifier'}) }}
  
      




    {{ include('pays/_delete_form.html.twig') }}
{% endblock %}
